<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!----<title>Login Form Design | CodeLab</title>---->
</head>

<body>
  <br>
  
  <div class="wrapper">
    <div class="title"> Login</div>
    <form [formGroup]="loginForm">
      <div class="field">
        <input type="text" formControlName="username">
        <label>Username</label>
      </div>
      <label *ngIf="loginForm.controls.username?.errors?.required && savestatus" class="txt-danger">*</label>
      <div class="field">
        <input type="password" formControlName="password">
        <label>Password</label>
      </div>
      <label *ngIf="loginForm.controls.password?.errors?.required && savestatus" class="txt-danger">*</label>
      <div class="field">
        <input type="submit" (click)="onSubmit()" value="Login">
      </div>
      <div class="signup-link"> <a [routerLink]="['/guesthome']">Home Page</a></div>
    </form>
  </div>
</body>

</html>
