<br><br><br><br>
<div class="container" style="margin-top :10px;">
    <div class="row">
        <div class="col-md-11" style="border:.1px solid black; border-radius: 4px; top: 10px;">
            <h3 style="text-align: center; margin-top: 4%;margin-bottom: 4%;"><b>Add Reviews</b> </h3>
            <form [formGroup]='reviewFormGroup'>
                <div class="form-horizontal">
                    <div class="row">
                        <label class="control-label col-12" for="society"> Employee Name</label>
                        <div class="col-12">
                            <input type="text" class="form-control" formControlName="empname"
                                placeholder="Enter the Employee name" />
                            <label *ngIf="reviewFormGroup.controls.empname?.errors?.required && savestatus"
                                class="txt-danger">*</label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="control-label col-12" for="society"> Review</label>
                        <div class="col-12">
                            <input type="text" class="form-control" formControlName="review"
                                placeholder="Enter the Review" />
                            <label *ngIf="reviewFormGroup.controls.review?.errors?.required && savestatus"
                                class="txt-danger">*</label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-danger" (click)="onSubmit()"
                                rounded="true">Submit</button>
                        </div>
                    </div>
                    <br>
                </div>
            </form>
        </div>
    </div>
</div>