<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------<title> Website Layout | CodingLab</title>------>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
<body>
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="#"></a>
      </div>
     
      <ul>
        <li><a href="/dappLanding">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/dpersonlogin">Log in</a></li>
        <li><a href="dperson/registration">Sign Up</a></li>
      </ul>
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
    <div class="title">D - APP</div>
    <div class="sub_title">Portal for Disabled Persons</div>
    <div class="btns">
      
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>D-App</h4>
          <ul>
            <li><a href="/adminlogin">Admin Login</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/contact">Contact</a></li>
           
          </ul>
        </div>
      
        <div class="footer-col">
          
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
